.userinfo{
    padding: 1.25rem 1.25rem;
}
.back{
    padding: 0.35rem .85rem;
    font-size: small;
    margin: 1rem .25rem;
    background-color: rgb(46, 160, 67);
    border: none;
    border-radius: .25rem;
}
.twitter{
    padding: 0.35rem .85rem;
    font-size: small;
    margin: 1rem .25rem;
    background-color: rgb(27, 109, 203);
    border: none;
    border-radius: .25rem;
}



.datail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}
.datail img{
 width: 20rem;
 height: 20rem;
 border: 1px solid rgb(46, 160, 67);
 /* margin: 0 auto;    */
 border-radius: 1rem;
 box-shadow:0px 0px 20px 10px rgb(22, 35, 24);
} 

h1{
    font-weight: 400;
    margin: 0 0 2rem 0;
}
p span{
    color: rgb(46, 160, 67);
}
p{
   line-height: 0.7;
    
}
a{
   color: white;
    
}
.bar{
    display: flex;
    border-bottom: 1px solid rgb(78, 74, 74);
    gap: 0rem;
    margin-top: 5%;
    justify-content: center;
    margin-bottom: 1.5rem;
    margin-top: 5.5rem;
    padding-bottom: 2rem;
    
}
.bar button{
    font-size: large;
    /* border: 2px solid rgb(46, 160, 67); */
    background-color:rgb(0, 0, 0);
    color: rgb(21, 68, 49);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
.bar .click{
    background-color:rgb(21, 68, 49);
    color: white;
}
.bar .pagenation{ 
    background-color:rgb(21, 68, 49);
    color: white;
}
.repos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    min-width: 400px;
    
}

@media (max-width: 768px){
    .datail{
        flex-direction: column;
    }
    p{
        line-height: 0.7;
        font-size: large;
         
     }
     

}
@media (max-width: 880px){

    .repos{
        grid-template-columns:  repeat( 1,1fr);
        
    }
    

}
@media (max-width: 500px){

    .bar button{
        font-size: .8rem;
     
        
        
    }

    .bio{
        font-size: .9rem;
    }
    
    .bio span{
        font-size: 1.1rem;
    }
    

}